/*/*Css sheet for project*/

/*layout css. will appear on every page*/


.nav.navbar-nav{
    height: 200px;
    width: 1200px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.bs-example{
    height: 200px;
    width: 1200px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;

}
.navbar-default{
    height: 200px;
    width: 1200px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.navbar-brand{
    height: 200px;
    width: 1200px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.thumbnail{
height: 350px;
width: 350px;
}


/*.accessdetails{
    align-content:center;
}*/

/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/


/*styling for carosel*/

/*.bs-example {
    margin: 20px;
}

.body {
    background: #ebebeb;
    font-family: "Open Sans", sans-serif;
}

.col-center {
    margin: 0 auto;
    float: none !important;
}

.carousel {
    margin: 30px auto 60px;
    padding: 0 80px;
}

    .carousel .item {
        text-align: center;
        overflow: hidden;
    }

        .carousel .item h4 {
            font-family: 'Varela Round', sans-serif;
        }

        .carousel .item img {
            max-width: 100%;
            display: inline-block;
        }

        .carousel .item .btn {
            border-radius: 0;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: bold;
            border: none;
            background: #a177ff;
            padding: 6px 15px;
            margin-top: 5px;
        }

            .carousel .item .btn:hover {
                background: #8c5bff;
            }

            .carousel .item .btn i {
                font-size: 14px;
                font-weight: bold;
                margin-left: 5px;
            }

    .carousel .thumb-wrapper {
        margin: 5px;
        text-align: left;
        background: #fff;
        box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
    }

    .carousel .thumb-content {
        padding: 15px;
        font-size: 13px;
    }

    .carousel .carousel-control {
        height: 44px;
        width: 44px;
        background: none;
        margin: auto 0;
        border-radius: 50%;
        border: 3px solid rgba(0, 0, 0, 0.8);
    }

        .carousel .carousel-control i {
            font-size: 36px;
            position: absolute;
            top: 50%;
            display: inline-block;
            margin: -19px 0 0 0;
            z-index: 5;
            left: 0;
            right: 0;
            color: rgba(0, 0, 0, 0.8);
            text-shadow: none;
            font-weight: bold;
        }

        .carousel .carousel-control.left i {
            margin-left: -3px;
        }

        .carousel .carousel-control.right i {
            margin-right: -3px;
        }

    .carousel .carousel-indicators {
        bottom: -50px;
    }

.carousel-indicators li, .carousel-indicators li.active {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 4px;
    border-color: transparent;
}

.carousel-indicators li {
    background: #ababab;
}

    .carousel-indicators li.active {
        background: #555;
    }*/

