/*/*Css sheet for project*/

/*layout css. will appear on every page*/

body {
    width: 1200px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-family: 'Spirax', cursive;
    font-family: 'Zilla Slab', serif;
    font-family: 'Mystery Quest', cursive;
    font-size: 25px;
    line-height: 2;
    color: #FFFFFF;
    text-align: center;
    align-content: center;
}


.container {
    width: 1200px;
    background-color: #9a0606;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    box-sizing: unset;
    text-align: center;
    align-content: center;
}

.bs-example {
    height: 201px;
    width: 1200px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    box-sizing: unset;
}


.navbar-brand {
    float: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-size: 18px;
    line-height: 20px;
}

#navbarCollapse{
    height: 201px;
    width: 1200px;
    color: #FFFFFF;
    background-color: #9a0606;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}



.nav.navbar-nav.navbar-right{
    font-size: 18px;
    color: #FFFFFF;
    padding: 0px 20px 0px 0px;
}

.navbar-default.navbar-nav.li.a {
    color: #FFFFFF;
}

.nav.navbar.navbar-default{
    border-left-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    margin-bottom: 0px;
    height: 201px;
    width: 1200px;
    color: #FFFFFF;
    background-color: #9a0606;
    border: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

/*views page for index of all models*/
.col-sm-6.col-md-4{
    height: 480px;
    width: 420px;
    background-color: #FFFFFF;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    box-sizing: unset;
}

/*formatting for details pages*/

.h1{
    color: #24292E;
    font-family: 'Spirax', cursive;
    font-size: 80px;
    text-align: center;
    align-content: center;
}

.accessdetails{
    height: 400px;
    width: 1200px;
    background-color: #FFFFFF;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    box-sizing: unset;
    color: #24292E;
    font-family: 'Zilla Slab', serif;
    font-size: 40px;
    text-align: center;
    align-content: center;
}

.bottomsdetails{
    height: 400px;
    width: 1200px;
    background-color: #FFFFFF;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    box-sizing: unset;
    color: #24292E;
    font-family: 'Zilla Slab', serif;
    font-size: 40px;
    text-align: center;
    align-content: center;
}

.dressesdetails{
    height: 400px;
    width: 1200px;
    background-color: #FFFFFF;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    box-sizing: unset;
    color: #24292E;
    font-family: 'Zilla Slab', serif;
    font-size: 40px;
    text-align: center;
    align-content: center;
}

.shoesdetails{
    height: 400px;
    width: 1200px;
    background-color: #FFFFFF;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    box-sizing: unset;
    color: #24292E;
    font-family: 'Zilla Slab', serif;
    font-size: 40px;
    text-align: center;
    align-content: center;
}

.swimdetails{
    height: 400px;
    width: 1200px;
    background-color: #FFFFFF;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    box-sizing: unset;
    color: #24292E;
    font-family: 'Zilla Slab', serif;
    font-size: 40px;
    text-align: center;
    align-content: center;
}

.topsdetails{
    height: 400px;
    width: 1200px;
    background-color: #FFFFFF;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    box-sizing: unset;
    color: #24292E;
    font-family: 'Zilla Slab', serif;
    font-size: 40px;
    text-align: center;
    align-content: center;
}

/*styling for carousel*/


.col-md-10.col-center.m-auto{
    width: 1200px;
    text-align: center;
    align-content: center;
}

.carousel {
    margin: 30px auto 60px;
    padding: 0 80px;
}

.carousel .item {
    text-align: center;
    overflow: hidden;
}

.carousel .item img {
    max-width: 100%;
    display: inline-block;
}

 .carousel .item .btn {
    background-color: #9a0606;
    border-radius: 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    padding: 6px 15px;
    margin-top: 5px;
}

.carousel .item .btn:hover {
    background:#24292E;
}

.carousel .item .btn i {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}

.carousel .thumb-wrapper {
    margin: 5px;
    text-align: center;
    align-content: center;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
}

.carousel .thumb-content {
    padding: 15px;
    font-size: 13px;
    text-align: center;
    align-content: center;
    height: 390px;
    width: 306px;
}

.carousel .carousel-control {
    height: 44px;
    width: 44px;
    background: none;
    margin: auto 0;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.8);
}

.carousel .carousel-control i {
    font-size: 36px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -19px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    font-weight: bold;
}

.carousel .carousel-control.left i {
    margin-left: -3px;
}

.carousel .carousel-control.right i {
    margin-right: -3px;
}

 .carousel .carousel-indicators {
    bottom: -50px;
 }

.carousel-indicators li, .carousel-indicators li.active {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 4px;
    border-color: transparent;
}

.carousel-indicators li {
    background: #ababab;
}

.carousel-indicators li.active {
    background: #555;
}

.footer{
    height: 40px;
    color: #FFFFFF;
    background-color:#24292E;
}

