@{
    ViewBag.Title = "Home Page";
}
<body>
<div row="bodycontenttextandpic">
    <div class="jumbotron col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <img src="~/content/tandkids.jpg" />
        </div>
    </div>  
</body>

